# Dependency directories
node_modules/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variable files
.env
.env.*
!.env.example

# compiled output
dist/

# web-ext build output
web-ext-artifacts/
